*{
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

header{
background-color:white;

}


#Main_container{
 padding:100px;
 background-color: white;
 
}

body{
  background-color:grey;
  font-family: 'Open Sans', sans-serif; 
}

#Square_1{
  border: 1px solid black;
  height: 2px;
  width: 4px;
  border-radius: 20%;
  background-color: rgb(107, 107, 215);

}

#Square_2{
  border: 1px solid black;
  height:2px;
  width: 5px;;
  border-radius: 20%;
}

.Editorial{
  height: 2px;
  width:5px;
  border-radius: 20%;
  background-color: rgb(112, 112, 239);
}
#q1_goals{
height:2px;
width:5px;
border-radius:20%;
background-color: violet;

}
#Recruiting{
  height:2px;
width:5px;
border-radius:20%;
background-color: rgb(160, 231, 160)
}

#Mobile{
  height:2px;
width:5px;
border-radius:20%;
background-color:orange
}
#website{
  height:2px;
width:5px;
border-radius:20%;
background-color:rgb(208, 80, 80)
}
#Sales{
  height:2px;
width:5px;
border-radius:20%;
background-color:greenyellow
}
